@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
    background: #fafafa;
}

#main {
    background: white;
    margin: 40px auto;
    width: 800px;
    padding: 10px;
    min-height: 600px;
    border: 1px solid #eee;
}

.spc-container {
    padding: 10px 25px;
}

#nav {
    list-style-type: none;
    float: right;
}

#nav li {
    display: inline;
    margin-right: 20px;
}

#nav li a {
    text-decoration: none;
    color: #2c3e50;
}

.changeside {
    left: 85%;
    position: absolute;
    top: 15%;
    text-decoration: none;
}

.simple-price-calc {
    font-size: 14px;
    font-family: 'Open Sans';
}

.simple-price-calc button {
    display: inline-block;
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 7px 10px;
    border-radius: 5px;
    background: #2c3e50;
    color: white;
}

#simple-price-total {
    margin-top: 15px;
}

#simple-price-total label {
    color: green;
    font-weight: bold;
    font-size: 20px;
}

.fixed-total #sidebar {
    position: fixed;
    left: 85%;
    top: 20%;
    padding: 25px;
    background: white;
    min-width: 100px;
    border: 1px solid #eee;
}